/* Estilos por defecto para escritorio */
.ser-split-container {
    display: block; /* Asegura que estos componentes son visibles por defecto */
}

.ser-vertical-container {
    display: none; /* Oculta el slider vertical por defecto en pantallas grandes */
}

/* Media Queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .ser-split-container {
        display: none; /* Oculta los splitscreens en pantallas pequeñas */
    }

    .ser-vertical-container {
        display: block; /* Muestra el slider vertical en pantallas pequeñas */
    }
}