
/* Estilos básicos para el contenedor principal del Hero */
.h-wrapper {
    padding: 0; /* Elimina cualquier relleno por defecto */
    top: 0; 
    margin: 0;

}



.h-wrapper .container {
    padding-top: 1rem;
}

   

/* Estilos específicos para el contenedor del Slider */
.h-container {
    margin: 0;  /* Asegura que no haya margen superior */
    padding: 0; /* Asegura que no haya padding superior */
}

/* PORTFOLIO */

/* Slider container */
.h-slider-container {
    width: 100%;
    padding: 0 !important;  /* Usa !important para sobreescribir cualquier otro estilo */
    margin: 0 auto; /* Optional: adjust padding for better centering */
}

/* portfolio final */

.h-slider-container .slick-slide { /* spacing in between each slide */
    margin: -20px;
    width: 100%!important;
    
    

}
.h-slider-container .slick-slide > div {
    padding: 0 20px;
  }

.h-slider-container .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4rem 0rem;
}

.h-slider-container .slick-list {
    overflow: hidden;  /* Asegura que no se muestre contenido fuera del área de visualización */
}




/* Opciones para personalizar los puntos de navegación */
.h-slider-container .slick-dots {
    
    display: flex !important; 
    align-items: center; 
    justify-content: center; 
    padding: 0 0 4rem 0; 

    bottom: 0.625rem;

    position: absolute;
    width: 100%;
}

.h-slider-container .slick-dots li button:before {
   
    font-size: 1rem; /* Tamaño de los puntos */
}

.h-slider-container .slick-dots li.slick-active button:before {
    color: #E62200; /* Color para el punto activo */
}







@media (min-width: 1200px) {
    .h-wrapper .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .h-container {
        height: 31.25rem;
        overflow: hidden;
    }

    /* Ajuste de la altura del contenedor del Hero para que ocupe el espacio restante */
    .h-container, .h-slider-container .slick-list {
        height: 95vh; /* altura del Viewport */
    }

    .project-image {
        width: 100%;
        height: 31.25rem; /* Ajuste para usar toda la altura del contenedor */
        object-fit: contain;/* Cambio a 'cover' para asegurar que la imagen cubra todo el espacio */
    }

    .h-slider-container .slick-dots {
        position: absolute;
        bottom: -40px; /* Ajusta para que queden dentro de la vista */
        left: 50%; /* Centra los dots horizontalmente */
        transform: translateX(-50%); /* Alineación precisa al centro */
    }

    .h-slider-container .slick-dots li button:before {
        font-size: 1rem; /* Ajuste del tamaño de los puntos */
    }
}
    

    

    
