/* Estilos básicos para el contenedor principal del Hero */
.h-wrapper {
    padding: 0; /* Elimina cualquier relleno por defecto */
    top: 0; 
    margin: 0;

}



.h-wrapper .container {
    padding-top: 1rem;
}

   

/* Estilos específicos para el contenedor del Slider */
.h-container {
    margin: 0;  /* Asegura que no haya margen superior */
    padding: 0; /* Asegura que no haya padding superior */
}

/* PORTFOLIO */

/* Slider container */
.slider-container {
    width: 100%;
    padding: 0 !important;  /* Usa !important para sobreescribir cualquier otro estilo */
    margin: 0 auto; /* Optional: adjust padding for better centering */
}

/* portfolio final */

.slick-slide { /* spacing in between each slide */
    margin: -20px;
    width: 100%!important;
    

}

.slider-container .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container .slick-list {
    overflow: hidden;  /* Asegura que no se muestre contenido fuera del área de visualización */
}











