/* Estilos por defecto para escritorio */


.servP-wrapper {
    padding-top: 7rem;
    padding-bottom: 5rem;
    
}


.servP-split-container {
    display: block; /* Asegura que estos componentes son visibles por defecto */
}

.servP-vertical-container {
    display: none; /* Oculta el slider vertical por defecto en pantallas grandes */
}


/* Media Queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .servP-split-container {
        display: flex;
        flex-direction: column-reverse; /* Coloca la imagen encima del texto */
        align-items: stretch;
    }

    .servP-vertical-container {
        display: none; /* Asegura que el vertical slider sigue oculto */
    }

    .scl-textSection {
        max-width: 100%; /* Ajusta el ancho máximo al 100% */
        margin: 1rem;
    }

    .scl-imageSection {
        max-width: 100%; /* Ajusta el ancho máximo al 100% */
        margin: 1rem 0; /* Ajusta los márgenes */
    }
}
