.portPage-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

.portPage-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Reducir el espacio entre el bloque de texto y el slider */
    
}



/* TITLE */
/* Estilo general del contenedor */
.portPage-container .t-head {
    justify-content: center; /* Centrar el contenido */
    padding: 20px; /* Añadir padding */
    text-align: center; /* Centrar el texto */
    max-width: 70%; /* Limitar el ancho del texto para mejor legibilidad */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
    
}

/* Estilo para el título */
.portPage-container .t-head .title {
    font-size: 2.5rem; /* Tamaño de fuente para el título */
    font-weight: bold; /* Hacer el título más destacable */
    color: #333; /* Color del título */
    margin-bottom: 1rem; /* Espaciado debajo del título */

    font-weight: 300;
}

/* Estilo para la descripción */
.portPage-container .t-head .des {
    font-size: 1.1rem; /* Tamaño de fuente para el texto */
    color: #757575; /* Color del texto */
    text-align: justify; /* Justificar el texto para un aspecto más limpio */
    margin-bottom: 1rem; /* Espaciado debajo del párrafo */
}






/* Filter Buttons */
.ppfilter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.portPage-button {
    margin-right: 1rem;
    padding: 8px 16px;
    background-color: #dad9d9;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.portPage-button:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
}

.portPage-button:hover {
    background-color: #E62200;
    color: white;
}

/* Image Grid */

/* Grid container */
.portPage-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 1rem;
    margin: 2rem 2rem 0rem 2rem;

}

/* Features section */
.portPage-feature {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: left;
    transition: transform 0.5s ease;
    cursor: pointer;

    position: relative; /* ??? */
}

/* .port-feature:hover {
    transform: scale(1.05);
    cursor: pointer;
} */

.portPage-project-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}
.portPage-project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    color: white; /* Asegura que el texto sea visible sobre un fondo oscuro */
    width: 80%; /* Ajusta esto según necesites */

    font-weight: bold;
    z-index: 2; /* Asegura que el texto esté encima de la capa oscura */
}
/* Additional styling for the new description element */
.portPage-project-desc {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    color: white; /* Color para diferenciar la descripción del título */
    font-weight: normal;
}

/* Hover effects */
.portPage-feature:hover .portPage-project-image {
    transform: scale(1.05); /* Ligero aumento para dar efecto al hacer hover */
}

.portPage-feature:hover .portPage-project-info {
    display: block; /* Muestra el contenedor de información al hacer hover */
}

.portPage-feature::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    z-index: 1; /* Asegura que esta capa esté justo encima de la imagen */
}

.portPage-feature:hover::before {
    opacity: 1; /* Hace visible el fondo oscuro al hacer hover */
}



@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
}

@media (max-width: 1200px) {
    /* .slick-slide {
        display: flex;
        justify-content: center;
    } */
    .portPage-head .title {
        max-width: 100%;
    }
    
    .portPage-grid-container {
        grid-template-columns: repeat(2, 1fr); /* 3 columns for medium screens */
    }
}

@media (max-width: 768px) {
    /* .slick-slide {
        display: flex;
        justify-content: center;
    } */
    .portPage-head .tag, .od-head .title {
        text-align: center;
    }
    .portPage-wrapper {
        padding-top: 3rem; 
    }
    
}
@media (max-width: 576px) {
    .portPage-grid-container {
        grid-template-columns: repeat(1, 1fr); /* 1 column for very small screens */
    }
}














