/* ESTILOS para la ruta dinámica [id]/page.jsx */

.ipp-wrapper {
    
    padding: 5rem 3rem;
    margin-top: 3rem;
    
    
}


.ipp-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    width: 100%; /* Asegura que tome todo el ancho disponible dentro de .container */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.ipp-title {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 0.625rem;
    margin-bottom: 1.25rem;
    display: inline-block;
}

.ipp-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background-color: #000;
    width: 50%; /* Adjust width of the line here */
}

.ipp-description {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
}

/*  */
.ipp-image-container {
    max-width: 100%;
    display: block;
    margin-bottom: 0.9375rem;
}

.ipp-images{
    border-radius: 1rem;
    
}


